<% start_time = Time.now %>

<div class="container">
<h1>Welcome to the longest word-game !</h1>
<hr>
<h4>Here is your grid :</h4>
<p><%= @grid.join(" ") %></p>
<hr>
<h3>What's your best shot ?</h3>

<form action="/score" class="form-horizontal">
  <div class="form-inline">
    <input type="text" id="question" name="attempt" class="form-control">
    <input type="submit" value="Play" class="btn btn-primary">
    <input type="hidden" name="start_time" value="<%= start_time %>">
    <input type="hidden" name="grid" value="<%= @grid.join(" ") %>">
  </div>
</form>
