<div class="text-left">
<h3>Now your result</h3>
<hr>
<ul>
<li>Your word: <%= @attempt %></li>
<li>Translation: <%= @result[:translation] %></li>
<li>Your score: <%= @result[:score] %></li>
<li>Message: <%= @result[:message] %></li>
</ul>
</div>
<hr>
